.portfolio h1{
    text-align: center;
    font-size: 2em;
}
.galleryItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.galleryContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.galleryWrapper {
  padding: 5% 10%;
}

.filterItem ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  gap: 20px;
  margin-bottom: 30px;
}

.filterItem ul button {
  background: #3d93b9;
  color: #fff;
  padding: 8px 46px;
  text-transform: uppercase;
  border: navajowhite;
  font-size: 17px;
  border-radius: 50px;
}

.filterItem ul button:hover {
  background: #222;
  cursor: pointer;
}

.galleryItem img {
  border-radius: 15px;
}
@media(max-width:1128px){
    .galleryContainer {
  display: grid;
  grid-template-columns: 3fr 3fr;
  gap: 10px;
 
 
}
/* .portfolio{
    margin-top: 650px;
 } */
}
@media(max-width:768px){
    .galleryContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
 
 
}
/* .portfolio{
    margin-top: 1500px;
 } */
 .filterItem ul  {
   display: block;
  margin: auto;
   
 }
 .filterItem ul button {
 
  margin: 10px;
   
 }
  
}
@media(max-width:468px){
    .galleryContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
 
 
}
/* .portfolio{
    margin-top: 1900px;
 } */
  
}